{% layout 'layout.liquid'%}
{% block content %}
  <div>
    <h2 class="display-7 shadowText">All Workouts</h2>
    <div class="row">
      {% for workout in workouts %}
        <div class="card" style="width: 20rem;">
          <br>
          <h3 class="cardHeader">{{ workout.name }}
          </h3>
          <div class="card-body">
            <p class="card-text">
              Description:
              {{ workout.description }}
            </p>
            <p class="card-text">
              Difficulty:
              {{ workout.difficulty }}
            </p>
            <a href="/workouts/{{ workout.id }}" class="btn">
              View
              {{ workout.name }}
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
