{% layout 'layout.liquid'%}
{% block content %}
  <div>
    <h2 class="display-6">All Workouts</h2>
    <div class="row">
      {% for workout in workouts %}
        <div class="card" style="width: 20rem;">
          <h5 class="card-header" style="background-color: tan">{{ workout.name }}
          </h5>
          <div class="card-body">
            <h5 class="card-title">
              Difficulty:
              {{ workout.difficulty }}
            </h5>
            <p class="card-text">
              Description:
              {{ workout.description }}
            </p>
            <p class="card-text">
              Difficulty:
              {{ workout.difficulty }}
            </p>
            <a href="/workouts/{{ workout.id }}" class="btn btn-info">
              View
              {{ workout.name }}
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
