{% layout 'layout.liquid' %}
{% block content %}
  <div class="container-md">
    <article>
      <h2>
        {{ workout.name}}
        -
      </h2>
      <h3>Difficulty:
        {{ workout.difficulty }}
      </h3>
      <h6>Description:
        {{ workout.description }}
      </h6>
      {% if workout.owner == userId %}
        <div class="btn-group">

          <a href="/workouts/{{ workout.id }}/edit" class="btn btn-primary">Edit</a>
          <form action="/workouts/{{ workout.id }}?_method=DELETE" method="POST">
            <input type="submit" value="Delete" class="btn btn-danger">
          </form>
        </div>
      {% endif %}
    </article>
    {% if loggedIn %}
      <div class="col-md-6">
        <form action="/feedback/{{workout.id}}" method="POST">
          <fieldset>
            <legend>Add Feedback</legend>
            <input class="form-control mb-1" type="text" placeholder="enter your feedback..." name="note" required>
          </fieldset>
          <input class="btn btn-success" type="submit" value="add feedback">
        </form>
      </div>
    {% else %}
      <div class="col-md-6">
        <small>If you'd like to leave feedback, please log in...</small>
      </div>
    {% endif %}
    <hr>
    {% if workout.feedback.length > 0%}
      <div class="container-sm justify-content-center">
        <div class="col-md-8 col-lg-6">
          {% for feedback in workout.feedback %}
            {% render '../feedback.liquid', feedback: feedback, userId: userId, workout: workout %}
          {% endfor %}
        </div>
      </div>
    {% else %}
      <small>no feedback yet...</small>
    {% endif %}
  </div>
{% endblock %}
